<section class="new-book" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="500px">
    <mat-card-title fxLayoutAlign="center"> Time for a new read</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>Book Title</mat-label>
        <mat-select>
          <mat-option *ngFor="let book of avalableBooks" [value]="book.id">
            {{book.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="onGenrePick()">
        Read
      </button>
    </mat-card-actions>
  </mat-card>
</section>
