<section class="new-book" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onBookPick(newBook)"  #newBook="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="500px">
      <mat-card-title fxLayoutAlign="center"> Time for a new read</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Pick a book to read</mat-label>
          <mat-select ngModel name="book" required>
            <mat-option *ngFor="let book of avalableBooks" [value]="book.id">
              {{book.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-raised-button color="primary" [disabled]="newBook.invalid">
          Read
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
