<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/signup" *ngIf="!isAuthenticated">
        <mat-icon>face</mat-icon>
        <span class="link-name">Signup</span>
      </a>
      <a mat-list-item routerLink="/login" *ngIf="!isAuthenticated">
        <mat-icon>person</mat-icon>
        <span class="link-name">login</span>
      </a>
      <a mat-list-item routerLink="/books" *ngIf="isAuthenticated">
        <mat-icon>library_books</mat-icon>
        <span class="link-name">Books</span>
      </a>
      <a mat-list-item routerLink="/currentBook" *ngIf="isAuthenticated">
        <mat-icon>book</mat-icon>
        <span class="link-name">Current Book</span>
      </a>
      <a mat-list-item href="#">Link 2</a>
      <mat-list-item>
        <button mat-icon-button class="logout" *ngIf="isAuthenticated" (click)="onLogout()">
          <mat-icon>eject</mat-icon>
          <span class="link-name">Logout</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a  routerLink='/'><span>organzer</span></a>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs fxLayoutGap="10px">
        <a routerLink="/book" *ngIf="isAuthenticated">Current Book</a>
        <a routerLink="/login" *ngIf="!isAuthenticated" >login</a>
        <a routerLink="/signup" *ngIf="!isAuthenticated">Signup</a>
        <a *ngIf="isAuthenticated" (click)="onLogout()" style="cursor: pointer;">Logout</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
