<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" placeholder="Filter books" (keyup)="filterReadBooks($event)" />
  </mat-form-field>
</div>

<mat-table [dataSource]="dataBookSource" matSort>
  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Author"> Author</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.author }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="title" >
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Title"> Title</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.title }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Category"> Category</mat-header-cell>
    <mat-cell *matCellDef="let book">{{ book.genre }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by State"> State </mat-header-cell>
    <mat-cell *matCellDef="let book">{{book.state}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Conclusion"> Concluded </mat-header-cell>
    <mat-cell *matCellDef="let book">{{book.endDate}}</mat-cell>
  </ng-container>

  <ngg-container matColumnDef="spentTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time Duration">Time spent</mat-header-cell>
    <mat-cell *matCellDef="let book">{{book.spentTime}}</mat-cell>
  </ngg-container>

  <ng-container matColumnDef="takeaway">
    <mat-header-cell *matHeaderCellDef>Your Thoughts</mat-header-cell>
    <mat-cell *matCellDef="let book">{{book.takeaway}}</mat-cell>
  </ng-container>

 
  <!-- <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let book">
      <button mat-button (click)="editBook(book)">Edit</button>
      <button mat-button (click)="deleteBook(book)">Delete</button>
    </mat-cell> -->

  <mat-header-row *matHeaderRowDef="displayedBookColumns"></mat-header-row> 
  <mat-row *matRowDef="let row; columns: displayedBookColumns;"></mat-row>
</mat-table> 

<mat-paginator [pageSizeOptions]="[1, 5, 10, 20]" showFirstLastButton></mat-paginator>